<!-- ###form### begin -->
	<h1>###author###Passwort ändern</h1>
	<h2>Änderung des Passworts</h2>
	###errorMessage###
	<form action="###action###" method="post" onsubmit="return validateForm(this,0,0,0,0,5);">
		<table class="tablelist" border="0" cellpadding="0" cellspacing="0" width="100%">
			<tbody>
				<tr class="odd">
		            <td><label for="###prefixId###[password]">Passwort (min. 6 Zeichen):</label></td>
		            <td><strong><input name="###prefixId###[password]" size="20" type="password" alt="length|6"></strong></td>
				</tr>
				<tr>
		            <td><label for="###prefixId###[password_confirm]">Passwort wiederholen:</label></td>
		            <td><strong><input name="###prefixId###[password_confirm]" size="20" type="password" alt="equalto|tx_listfeuseruni_pi4[password]"></strong></td>
				</tr>
				<tr>
		            <td>&nbsp;</td>
		            <td><strong>
		              <input name="###prefixId###[submit]" value="Absenden" type="submit">
		            </strong></td>
				</tr>
			</tbody>
		</table>
	</form>
<!-- ###form### end-->

<!-- ###updated### begin -->
	<h1>###author###Passwort geändert</h1>
	<h2>Änderung des Passworts</h2>
	<p>Die Änderung wurde gespeichert</p>
<!-- ###updated### begin -->

<!-- ###pageTitle### begin --> <!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### --> - <!-- ###pageTitle### end -->