<!-- ###right### begin-->
		<!-- ###private_box### -->
		<p><b>Privat</b></p>
		<p>
				<!-- ###address_box### -->###address###<br /><!-- ###address_box### -->
				<!-- ###country_box### -->###country###<!-- ###country_box### --> - <!-- ###zip_box### -->###zip###<!-- ###zip_box### --> <!-- ###city_box### -->###city###<br /><!-- ###city_box### -->
				<!-- ###phone_box### --><br /><i>###listFieldHeader_phone###</i><br /><span class="phonenumber">###phone###</span><br /><!-- ###phone_box### -->
				<!-- ###phone2_box### --><br /><i>###listFieldHeader_phone2###</i><br /><span class="phonenumber">###phone2###</span><br /><!-- ###phone2_box### -->
				<!-- ###fax_box### --><br /><i>###listFieldHeader_fax###:</i><br /><span class="phonenumber">###fax###</span><br /><!-- ###fax_box### -->
				<!-- ###mobile_phone_box### --><br />###listFieldHeader_mobile_phone###:<br /><span class="phonenumber">###mobile_phone###</span><!-- ###mobile_phone_box### -->
		</p>
		<!-- ###private_box### -->
<!-- ###right### end -->

<!-- ###left### begin-->
	<div class="content">
		<div class="content-element">
			<h1><!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### --> </h1>
			<!-- ###image_box###--><div class="image">###image###</div><!-- ###image_box### -->
			<div class="function">
				<!-- ###function_suffix_box###--><b>###function_suffix###</b><br />
				<!-- ###function_suffix_box###--><!-- ###email_box### -->###email###<!-- ###email_box### --><br />
				<div>
					<p>
						<!-- ###office_roomnumber_box### -->###listFieldHeader_office_roomnumber### ###office_roomnumber###<!-- ###office_roomnumber_box### --><br />
						<!-- ###office_address_box###-->###office_address###<!-- ###office_address_box###--><br />
						<!-- ###office_country_box###-->###office_country### - <!-- ###office_country_box###--><!-- ###office_zip_box###-->###office_zip###<!-- ###office_zip_box###--> <!-- ###office_location_box###-->###office_location###<!-- ###office_location_box###-->
					</p>
					<div class="phonenumbers">
						<!-- ###office_phone_box### --><div class="phonelabel">###listFieldHeader_office_phone###</div><div class="phonenumber">###office_phone###</div><!-- ###office_phone_box### --><div class="clearer"> </div>
						<!-- ###office_phone2_box### --><div class="phonelabel">###listFieldHeader_office_phone2###</div><div class="phonenumber">###office_phone2###</div><!-- ###office_phone2_box### --><div class="clearer"> </div>
						<!-- ###office_fax_box### --><div class="phonelabel">###listFieldHeader_office_fax###</div><div class="phonenumber">###office_fax###</div><!-- ###office_fax_box### --><div class="clearer"> </div>
						<!-- ###office_mobile_phone_box### --><div class="phonelabel">###listFieldHeader_office_mobile_phone###</div><div class="phonenumber">###office_mobile_phone###</div><!-- ###office_mobile_phone_box### --><div class="clearer"> </div>
					</div>
				</div>
			</div>
			<div class="clearer"> </div>
			<!-- ###profile_box### -->
				###profile###
			<!-- ###profile_box### -->
			<!-- ###news_box### -->
				<h2>Aktuelles</h2>
			 	###news###
			<!-- ###news_box### -->
			<!-- ###research_box### -->
				<h2>Forschungsschwerpunkte</h2>
				###research###
			<!-- ###research_box### -->
			<!-- ###membership_box### -->
				<h2>Mitgliedschaften und Ehrungen </h2>
				###membership###
			<!-- ###membership_box### -->
		
			
			<div class="clearer"> </div>
			<!-- ###lastestPublications_box### -->
				<div class="content-element">
					<h2>Aktuelle Publikationen</h2>
					###lastestPublications###
			  		<p>###allPublicationByAuthorLinkStart###<strong>&gt; Alle Publikationen</strong>###allPublicationByAuthorLinkEnd###</p>
			  	</div>
			<!-- ###lastestPublications_box### -->
		  </div>

	  </div>
<!-- ###left### end -->

<!-- ###pageTitle### begin --> <!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### --><!-- ###pageTitle### end -->
