<!-- ###right### begin-->
		<!-- ###private_box### -->
		<p><b>Privat</b></p>
		<p>
				<!-- ###address_box### -->###address###<br /><!-- ###address_box### -->
				<!-- ###country_box### -->###country###<!-- ###country_box### --> - <!-- ###zip_box### -->###zip###<!-- ###zip_box### --> <!-- ###city_box### -->###city###<br /><!-- ###city_box### -->
				<!-- ###phone_box### --><br /><i>###listFieldHeader_phone###</i><br /><span class="phonenumber">###phone###</span><br /><!-- ###phone_box### -->
				<!-- ###phone2_box### --><br /><i>###listFieldHeader_phone2###</i><br /><span class="phonenumber">###phone2###</span><br /><!-- ###phone2_box### -->
				<!-- ###fax_box### --><br /><i>###listFieldHeader_fax###:</i><br /><span class="phonenumber">###fax###</span><br /><!-- ###fax_box### -->
				<!-- ###mobile_phone_box### --><br />###listFieldHeader_mobile_phone###:<br /><span class="phonenumber">###mobile_phone###</span><!-- ###mobile_phone_box### -->
		</p>
		<!-- ###private_box### -->
<!-- ###right### end -->

<!-- ###left### begin-->
	
<!-- ###left### end -->

<!-- ###pageTitle### begin --> <!-- ###title_box### -->###title###<!-- ###title_box### --> <!-- ###firstname_box### -->###firstname###<!-- ###firstname_box### --> <!-- ###lastname_box### -->###lastname###<!-- ###lastname_box### --><!-- ###title_after_box### -->, ###title_after###<!-- ###title_after_box### --><!-- ###pageTitle### end -->
